* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #1e3c72;
}

.container {
  width: 360px;
  padding: 20px;
  border-radius: 15px;
  background: rgba(255,255,255,0.2);
  box-shadow: 0 10px 30px rgba(0,0,0,0.4);
  color: white;
}

h2 {
  text-align: center;
  margin-bottom: 15px;
}

.input-box {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

input, select {
  padding: 10px;
  border-radius: 8px;
  border: none;
}

.datetime-box {
  display: flex;
  gap: 5px;
}

button {
  padding: 12px;
  border-radius: 8px;
  border: none;
  background: #00c6ff;
  color: white;
  font-size: 15px;
  font-weight: bold;
  cursor: pointer;
}

ul {
  list-style: none;
  margin-top: 15px;
}

li {
  background: rgba(255,255,255,0.3);
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
}

.task-text.completed {
  text-decoration: line-through;
  color: #ddd;
}

.buttons button {
  padding: 5px 8px;
  font-size: 12px;
  margin-left: 5px;
  border-radius: 5px;
}

.done-btn { background: green; }
.edit-btn { background: orange; }
.delete-btn { background: red; }